<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>Top Games</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Top games" name="keywords">
        <meta content="Top games for gamers" name="description">

        <!-- Favicon -->
        <link href="img/favicon.ico" rel="icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Code+Pro:700,900&display=swap" 
            rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="js/slick/slick.css" rel="stylesheet">
        <link href="js/slick/slick-theme.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="css/style.css" rel="stylesheet">
    </head>

    <body>
        <!-- Top bar Start -->
	    <div class="top-bar">
	        <div class="container-fluid">
	            <div class="row">
	                <div class="col-sm-6">
	                    <i class="fa fa-envelope"></i>
	                    soporte@topgames.com
	                </div>
	                <div class="col-sm-6">
	                    <i class="fa fa-phone-alt"></i>
	                    +34-976-111222
	                </div>
	            </div>
	        </div>
	    </div>
	    <!-- Top bar End -->
        
        <!-- Nav Bar Start -->
	    <div class="nav">
	        <div class="container-fluid">
	            <nav class="navbar navbar-expand-md bg-dark navbar-dark">
	                <a href="#" class="navbar-brand">MENU</a>
	                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
	                    <span class="navbar-toggler-icon"></span>
	                </button>
	
	                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
	                    <div class="navbar-nav mr-auto">
	                        <a href="/" class="nav-item nav-link active">Inicio</a>
	                        <div class="nav-item dropdown">
	                            <a href="/productos" class="nav-item nav-link active">Productos</a>
	                        </div>
	                    </div>
	                    <a href="contact.html" class="nav-item nav-link">Contacto</a>
	                </div>
	                <div class="navbar-nav ml-auto">
	                    <div class="nav-item dropdown">
	                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Cuenta de usuario</a>
	                        <div class="dropdown-menu">
	                            <a href="/login" class="dropdown-item">Iniciar sesión</a>
	                            <a href="/login" class="dropdown-item">Registro</a>
	                        </div>
	                    </div>
	                </div>
	            </nav>
	        </div>
	    </div>
	    <!-- Nav Bar End -->    
        
        <!-- Bottom Bar Start -->
        <div class="bottom-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <div class="logo">
                            <a href="/">
                                <img src="images/logo.png" alt="Logo">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="user">
                            <a href="wishlist.html" class="btn wishlist">
                                <i class="fa fa-heart"></i>
                                <span>(0)</span>
                            </a>
                            <a href="cart.html" class="btn cart">
                                <i class="fa fa-shopping-cart"></i>
                                <span>(0)</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bottom Bar End -->       
        
        <!-- Main Slider Start -->
        <div class="header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3 col-12 d-flex align-items-center justiy-content-center">
                        <nav class="navbar bg-light">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="#"><i class="fas fa-fire"></i>Lo más vendido</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#"><i class="fas fa-star"></i>Novedades</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#"><i class="fas fa-clock"></i>Próximamente</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#"><i class="fas fa-percentage"></i></i>Ofertas</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#"><i class="far fa-thumbs-up"></i>Recomendaciones</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    
                    <div class="col-md-6 col-12" th:if="${not #lists.isEmpty(articulosSlider)}">
                        <div class="header-slider normal-slider">
                        	<div class="header-slider-item" th:each="articulo : ${articulosSlider}">
                                <img th:src="@{images/videojuego/}+${articulo.image}" />
                                <div class="header-slider-caption">
                                    <p>Último lanzamiento</p>
                                    <p th:text="${articulo.nombre}"></p>
                                    <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Comprar ahora</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-3 col-12">
                        <div class="header-img">
                            <div class="img-item">
                                <img src="images/category-1.jpg" />
                                <a class="img-text" href="">
                                 
                                </a>
                            </div>
                            <div class="img-item">
                                <img src="images/category-2.jpg" />
                                <a class="img-text" href="">
                             
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main Slider End -->      
            
        
        <!-- Feature Start-->
        <div class="feature">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-6 feature-col">
                        <div class="feature-content">
                            <i class="fab fa-cc-mastercard"></i>
                            <h2>Pago Seguro</h2>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 feature-col">
                        <div class="feature-content">
                            <i class="fa fa-truck"></i>
                            <h2>Envíos a todo el mundo</h2>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 feature-col">
                        <div class="feature-content">
                            <i class="fa fa-sync-alt"></i>
                            <h2>15 días en devolución</h2>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 feature-col">
                        <div class="feature-content">
                            <i class="fa fa-comments"></i>
                            <h2>Soporte 24h</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Feature End--> 
        
        <!-- Call to Action Start -->
        <div class="call-to-action">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <h1>Para consultas llamanos</h1>
                    </div>
                    <div class="col-md-6">
                        <a href="tel:0123456789">+34-976-111222</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Call to Action End -->       
        
        <!-- Featured Product Start -->
    <div class="featured-product product">
        <div class="container-fluid">
            <div class="section-header">
                <h1>Juegos populares</h1>
            </div>
            <div class="row align-items-center product-slider product-slider-4">
                <div class="col-lg-3">
                    <div class="product-item">
                        <div class="product-title">
                            <a href="#">Just Dance</a>
                     
                        </div>
                        <div class="product-image">
                            <a href="product-detail.html">
                               <center><img src="images/videojuego/just_dance.webp" alt="Product Image"></center> 
                            </a>
                            <div class="product-action">
                                <a href="#"><i class="fa fa-cart-plus"></i></a>
                                <a href="#"><i class="fa fa-heart"></i></a>
                                <a href="#"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                        <div class="product-price">
                            <h3>29,95€</h3>
                            <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Comprar</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="product-item">
                        <div class="product-title">
                            <a href="#">Minecraft</a>

                         
                        </div>
                        <div class="product-image">
                            <a href="product-detail.html">
                               <center><img src="images/videojuego/minecraft.jpg" alt="Product Image"></center> 
                            </a>
                            <div class="product-action">
                                <a href="#"><i class="fa fa-cart-plus"></i></a>
                                <a href="#"><i class="fa fa-heart"></i></a>
                                <a href="#"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                        <div class="product-price">
                            <h3>27€</h3>
                            <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Comprar</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="product-item">
                        <div class="product-title">
                            <a href="#">Horizon zero dawn</a>
                          
                        </div>
                        <div class="product-image">
                            <a href="product-detail.html">
                                <center><img src="images/videojuego/horizon-zero-dawn.jpg" alt="Product Image"></center> 
                            </a>
                            <div class="product-action">
                                <a href="#"><i class="fa fa-cart-plus"></i></a>
                                <a href="#"><i class="fa fa-heart"></i></a>
                                <a href="#"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                        <div class="product-price">
                            <h3>20,73€</h3>
                            <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Comprar</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="product-item">
                        <div class="product-title">
                            <a href="#">Gears Of War</a>
                       
                        
                        </div>
                        <div class="product-image">
                            <a href="product-detail.html">
                              <center> <img src="images/videojuego/gearsOfWar.jpg" alt="Product Image"></center> 
                            </a>
                            <div class="product-action">
                                <a href="#"><i class="fa fa-cart-plus"></i></a>
                                <a href="#"><i class="fa fa-heart"></i></a>
                                <a href="#"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                        <div class="product-price">
                            <h3>27,00€</h3>
                            <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Comprar</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="product-item">
                        <div class="product-title">
                            <a href="#">The biding of isaac</a>
                           
                        </div>
                        <div class="product-image">
                            <a href="product-detail.html">
                               <center> <img src="images/videojuego/the-binding-of-isaac-afterbirth-cover.jpg" alt="Product Image"></center>
                            </a>
                            <div class="product-action">
                                <a href="#"><i class="fa fa-cart-plus"></i></a>
                                <a href="#"><i class="fa fa-heart"></i></a>
                                <a href="#"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                        <div class="product-price">
                            <h3>49,00€</h3>
                            <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Comprar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Featured Product End -->     
        
        <!-- Newsletter Start -->
        <div class="newsletter">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <h1>Suscríbete a nuestro Newsletter</h1>
                    </div>
                    <div class="col-md-6">
                        <div class="form">
                            <input type="email" value="Your email here">
                            <button>Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Newsletter End -->        
        
        <!-- Ofertas -->
    <div class="recent-product product">
        <div class="container-fluid">
            <div class="section-header">
                <h1>Ofertas</h1>
            </div>
            <div class="row align-items-center product-slider product-slider-4">
                <div class="col-lg-3">
                    <div class="product-item">
                        <div class="product-title">
                            <a href="#">The Witcher</a>
                        </div>
                        <div class="product-image">
                            <a href="product-detail.html">
                               <center><img src="images/videojuego/the-witcher-3-wild-hunt-cover.jpg" alt="Product Image"></center>
                            </a>
                            <div class="product-action">
                                <a href="#"><i class="fa fa-cart-plus"></i></a>
                                <a href="#"><i class="fa fa-heart"></i></a>
                                <a href="#"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                        <div class="product-price">
                            <h3>20,00€</h3>
                            <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Comprar</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="product-item">
                        <div class="product-title">
                            <a href="#">Jurassic Park</a>
                        
                            
                        </div>
                        <div class="product-image">
                            <a href="product-detail.html">
                                <center><img src="images/videojuego/jurassicPArk.jpg"alt="Product Image"></center>
                            </a>
                            <div class="product-action">
                                <a href="#"><i class="fa fa-cart-plus"></i></a>
                                <a href="#"><i class="fa fa-heart"></i></a>
                                <a href="#"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                        <div class="product-price">
                            <h3>30,20€</h3>
                            <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Comprar</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="product-item">
                        <div class="product-title">
                            <a href="#">Bioshock infinite</a>
                            
                        </div>
                        <div class="product-image">
                            <a href="product-detail.html">
                                <center><img src="images/videojuego/bioshock_infinite.jpg" alt="Product Image"></center>
                            </a>
                            <div class="product-action">
                                <a href="#"><i class="fa fa-cart-plus"></i></a>
                                <a href="#"><i class="fa fa-heart"></i></a>
                                <a href="#"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                        <div class="product-price">
                            <h3>18,70€</h3>
                            <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Comprar</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="product-item">
                        <div class="product-title">
                            <a href="#">Killing Floor 2</a>
                         
                        </div>
                        <div class="product-image">
                            <a href="product-detail.html">
                                <center><img src="images/videojuego/killing-floor-2.jpg" alt="Product Image"></center>
                            </a>
                            <div class="product-action">
                                <a href="#"><i class="fa fa-cart-plus"></i></a>
                                <a href="#"><i class="fa fa-heart"></i></a>
                                <a href="#"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                        <div class="product-price">
                            <h3>20,00€</h3>
                            <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Comprar</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="product-item">
                        <div class="product-title">
                            <a href="#">Borderlands 2</a>
                           
                        </div>
                        <div class="product-image">
                            <a href="product-detail.html">
                                <center><img src="images/videojuego/borderlands2.jpg" alt="Product Image"></center>
                            </a>
                            <div class="product-action">
                                <a href="#"><i class="fa fa-cart-plus"></i></a>
                                <a href="#"><i class="fa fa-heart"></i></a>
                                <a href="#"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                        <div class="product-price">
                            <h3><span>€</span>25</h3>
                            <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Comprar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Recent Product End -->
        
        <!-- Review Start -->
        <div class="review">
            <div class="container-fluid">
                <div class="row align-items-center review-slider normal-slider">
                    <div class="col-md-6">
                        <div class="review-slider-item">
                            <div class="review-img">
                                <img src="images/videojuego/nfs.jpg" alt="Fotografía de juego">
                            </div>
                            <div class="review-text">
                                <h2>NFS Heat</h2>
                                <h3>Jose Luis</h3>
                                <div class="ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <p>
                                   
Vuelve a ser un need for speed divertido que intenta mezclar varios titulos anteriores como el undercover en la conducción, most wanted en la reputación callejera, payback por los checkpoints, hot pursuit por las persecuciones,etc... y ha salido una mezcla atractiva.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="review-slider-item">
                            <div class="review-img">
                                <img src="images/videojuego/residentEvil.jpg" alt="Fotografía de juego">
                            </div>
                            <div class="review-text">
                                <h2>Resident Evil 7</h2>
                                <h3>Álvaro</h3>
                                <div class="ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <p>
                                    Recupera la esencia del "survival horror" con un desarrollo actualizado. Es una experiencia aterradora. Lo mejor que hemos probado en PlayStation VR.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="review-slider-item">
                            <div class="review-img">
                                <img src="images/videojuego/nierAutomata.jpg" alt="Fotografía de portada">
                            </div>
                            <div class="review-text">
                                <h2>Nier Automata</h2>
                                <h3>Angela</h3>
                                <div class="ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <p>
                                   En mi opinión, uno de los mejores RPG actuales, tanto por la historia que te engancha desde el primer momento como por su método de combate.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Review End -->        
        
        <!-- Footer Start -->
	    <div class="footer">
	        <div class="container-fluid">
	            <div class="row">
	                <div class="col-lg-3 col-md-6">
	                    <div class="footer-widget">
	                        <h2>Encuentranos</h2>
	                        <div class="contact-info">
	                            <p><i class="fa fa-map-marker"></i>Calle Don Jaime I, Zaragoza</p>
	                            <p><i class="fa fa-envelope"></i>soporte@topgames.com</p>
	                            <p><i class="fa fa-phone"></i>+34-976-111222</p>
	                        </div>
	                    </div>
	                </div>
	
	                <div class="col-lg-3 col-md-6">
	                    <div class="footer-widget">
	                        <h2>Redes Sociales</h2>
	                        <div class="contact-info">
	                            <div class="social">
	                                <a href=""><i class="fab fa-twitter"></i></a>
	                                <a href=""><i class="fab fa-facebook-f"></i></a>
	                                <a href=""><i class="fab fa-linkedin-in"></i></a>
	                                <a href=""><i class="fab fa-instagram"></i></a>
	                                <a href=""><i class="fab fa-youtube"></i></a>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	
	                <div class="col-lg-3 col-md-6">
	                    <div class="footer-widget">
	                        <h2>Información</h2>
	                        <ul>
	                            <li><a href="#">Sobre la empresa</a></li>
	                            <li><a href="#">Política de privacidad</a></li>
	                            <li><a href="#">Términos y Condiciones</a></li>
	                        </ul>
	                    </div>
	                </div>
	
	                <div class="col-lg-3 col-md-6">
	                    <div class="footer-widget">
	                        <h2>Información de compra</h2>
	                        <ul>
	                            <li><a href="#">Política de pago</a></li>
	                            <li><a href="#">Politica de envios</a></li>
	                            <li><a href="#">Politica de devoluciones</a></li>
	                        </ul>
	                    </div>
	                </div>
	            </div>
	
	            <div class="row payment align-items-center">
	                <div class="col-md-6">
	                    <div class="payment-method">
	                        <h2>Aceptamos:</h2>
	                        <img src="img/payment-method.png" alt="Payment Method" />
	                    </div>
	                </div>
	                <div class="col-md-6">
	                    <div class="payment-security">
	                        <h2>Seguridad con:</h2>
	                        <img src="img/godaddy.svg" alt="Payment Security" />
	                        <img src="img/norton.svg" alt="Payment Security" />
	                        <img src="img/ssl.svg" alt="Payment Security" />
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	    <!-- Footer End -->
        
        <!-- Footer Bottom Start -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 copyright">
                        <p>Copyright &copy; <a href="/">topGames</a>. All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Bottom End -->       
        
        <!-- Back to Top -->
        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        
        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="js/easing/easing.min.js"></script>
        <script src="js/slick/slick.min.js"></script>
        
        <!-- Template Javascript -->
        <script src="js/main.js"></script>
    </body>
</html>
